<body>
    <div class="notification-container">
        <div class="notification-header">
            <h4>Notifications</h4>
            <button class="markallasread">Mark all as read</button>
        </div>
        <div class="notification-body">
            <div class="notifs-header">
                <h5>Earlier</h5>
                <button class="see-all">See all</button>
            </div>
            <div class="notifs">
                <img src="muningning.jpg" class="notifs-image" alt="muningning13">
                <p class="notif-messages"><strong>muningning13 messages you</strong></p>
                <img src="dot.png" class="indicator">
            </div>
            <div class="notifs">
                <img src="nocatnolife.jpg" class="notifs-image" alt="nocatnolife">
                <p class="notif-message">nocatnolife messages you</p>
            </div>
            <div class="notifs">
                <img src="rabrob.jpg" class="notifs-image" alt="_rabrob">
                <p class="notif-messages"><strong>_rabrob messages you</strong></p>
                <img src="dot.png" class="indicator">
            </div>
            <div class="notifs">
                <img src="brownie.jpg" class="notifs-image" alt="brownie_123">
                <p class="notif-messages"><strong>brownie_123 messages you</strong></p>
                <img src="dot.png" class="indicator">
            </div>
            <div class="notifs">
                <img src="chichi.jpg" class="notifs-image" alt="_chichi_">
                <p class="notif-message">_chichi_ messages you</p>
            </div>
        </div>
        <div class="notification-footer">
            <button class="previous">See previous notifications</button>
        </div>
    </div>
</body>