.post-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: -50px;
}

.post-form {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #763C00;
  border-radius: 50px;
  background-color: #FFF8DC;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.profile-text {
  display: flex;
  align-items: center;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-pic {
  margin-right: 20px;
}

.profile-pic img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#post-textarea {
  width: 80%;
  height: 70px;
  border-radius: 10px;
  border: 1px solid #763C00;
  padding: 10px;
  transition: height 0.3s ease;
}

#post-textarea.expanded {
  height: 100px;
}

.form-controls {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.add-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.add-photo-input {
  display: none;
}

.photo-indication {
  color: #8B4513;
  margin-top: 10px;
}

.photo-preview img {
  max-width: 100px;
  max-height: 100px;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.delete-photo-button {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-photo-button:hover {
  background-color: #c0392b;
}

.add-photo-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #956935;
  background-color: #956935;
}

.add-photo-label:hover {
  background-color: #8B4513;
}

.add-photo-label i {
  margin-bottom: 5px;
}

.location, .add-tag {
  display: flex;
  align-items: center;
}

.location label, .add-tag label {
  margin-right: 20px;
  color: #8B4513;
}

.location input, .add-tag input {
  border: 1px solid #8B4513;
  border-radius: 30px;
  padding: 10px;
}

.post-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.post-button {
  font-weight: bolder;
  background-color: #956935;
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 10px;
  cursor: pointer;
}
.post-button:hover {
  background-color: #8B4513;
}

.filter {
  position: relative;
  right: -30%;
}

.filter button {
  background: none;
  border: none;
  cursor: pointer;
}

.filter button img {
  width: 30px;
  height: 30px;
}

.filter-popup {
  position: absolute;
  right: 20px;
  top: 40px;
  width: auto;
  padding: 20px;
  border: 1px solid #763C00;
  border-radius: 20px;
  background-color: #FFF8DC;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.filter-popup h2 {
  margin-top: 0;
  color: #8B4513;
  text-align: center;
}

.filter-popup h2::after {
  content: "";
  position: absolute;
  width: 240px;
  height: 1px;
  display: block;
  margin: 10px auto;
  background-color: #956935;
}

.filter-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.filter-button {
  padding: 10px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #8B4513;
  text-align: center;
}

.filter-button{
  flex: 1;
  overflow: hidden;
  padding: 10px;
}
.filter-button img{
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease;
}
.filter-button:hover img{
  transform: scale(1.2);
}

.filter-button img {
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
}

.filter-button span {
  display: block;
  margin-top: 5px;
}
