.post-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: -50px;
}

.post-form {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #763C00;
  border-radius: 50px;
  background-color: #FFF8DC;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.profile-text {
  display: flex;
  align-items: center;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-pic {
  margin-right: 20px;
}

.profile-pic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#post-textarea {
  width: 80%;
  height: 70px;
  border-radius: 10px;
  border: 1px solid #763C00;
  padding: 10px;
  transition: height 0.3s ease;
}

#post-textarea.expanded {
  height: 100px;
}

.form-controls {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.add-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.add-photo-input {
  display: none;
}

.photo-previews {
  display: flex;
  flex-wrap: wrap;
}

.photo-preview {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

.photo-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.delete-photo-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-photo-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.add-photo-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #956935;
  background-color: #956935;
}

.add-photo-label:hover {
  background-color: #8B4513;
}

.add-photo-label i {
  margin-bottom: 5px;
}

.location, .add-tag {
  display: flex;
  align-items: center;
}

.location::placeholder, .add-tag::placeholder {
  color: #8B4513;
}

.location input, .add-tag input {
  margin-top: 30px;
  border: 1px solid #8B4513;
  border-radius: 30px;
  padding: 10px;
}

.post-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.post-button {
  font-weight: bolder;
  background-color: #956935;
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 10px;
  cursor: pointer;
}

.post-button:hover {
  background-color: #8B4513;
}

.post-container {
  border: 1px solid #763C00;
  border-radius: 20px;
  background-color: #FFF8DC;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 10px;
}

.post-profile-pic {
  margin-right: 10px;
}

.post-profile-pic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: none;
}

.post-user-info {
  display: flex;
  flex-direction: column;
}

.post-username {
  font-weight: bold;
  color: #8B4513;
}

.post-date {
  font-size: 0.8em;
  color: #8B4513;
}

.messagepost {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.locationpost {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.tagpost {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  color: #ec8f4d;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.post-menu-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #FFF8DC;
  border: 1px solid #8B4513;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.post-menu-dropdown button {
  background: none;
  border: none;
  cursor: pointer;
  color: #8B4513;
  padding: 5px 10px;
  width: 100%;
  text-align: left;
}

.post-menu-dropdown button:hover {
  background-color: #8B4513;
  color: white;
}

.post-content {
  margin: 10px 0;
}

.post-photo {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8B4513;
  border-radius: 10px;
}

.post-photo img {
  max-width: 100%;
  border-radius: 10px;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.reserved-label, .adopted-label {
  color: #8B4513;
}

.like-button, .comment-button, .adopt-button, .reserved-button {
  background: #F7E8B2;
  border-radius: 30px;
  border: 1px solid #8B4513;
  padding: 5px 10px;
  cursor: pointer;
  color: #8B4513;
  font-size: 1em;
  display: flex;
  align-items: center;
}

.like-button:hover, .comment-button:hover, .adopt-button:hover, .reserved-button:hover {
  color: #956935;
}

.post-comments {
  margin-top: 10px;
  border-top: 1px solid #8B4513;
  padding-top: 10px;
}

.comment {
  margin-bottom: 10px;
}

.comment-username {
  font-weight: bold;
  color: #8B4513;
  margin-right: 5px;
}

.add-comment {
  display: flex;
  align-items: center;
}

.add-comment input {
  border: 1px solid #8B4513;
  border-radius: 5px;
  padding: 5px;
  flex-grow: 1;
}

.add-comment button {
  background-color: #956935;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px;
}

.add-comment button:hover {
  background-color: #8B4513;
}

.post-edit {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.edit-textarea {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  border: 1px solid #763C00;
  padding: 10px;
  margin-bottom: 10px;
}

.edit-tag {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #763C00;
  padding: 10px;
  margin-bottom: 10px;
}

.edit-buttons {
  display: flex;
  justify-content: space-between;
}

.save-button, .cancel-button {
  font-weight: bolder;
  background-color: #956935;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.save-button:hover, .cancel-button:hover {
  background-color: #8B4513;
}

