
<div class="post-form-container">
  <div class="post-form">
      <div class="profile-text">
          <div class="profile-pic">
              <img src="#" alt="Profile Picture">
          </div>
          <textarea
              id="post-textarea"
              placeholder="Create a post..."
              [(ngModel)]="postContent"
              (input)="handleInput()"
              [class.expanded]="isExpanded"
          ></textarea>
      </div>
      <div *ngIf="isExpanded" class="form-controls">
          <div class="add-photo-container">
              <input type="file" id="add-photo" class="add-photo-input">
              <label for="add-photo" class="add-photo-label">
                  <img src="plus.png"> Add Photo
              </label>
          </div>
          <div class="location">
              <label for="location">Location:</label>
              <input type="text" id="location">
          </div>
          <div class="add-tag">
              <label for="tag">Add Tag:</label>
              <input type="text" id="tag">
          </div>
      </div>
      <div *ngIf="isExpanded" class="post-button-container">
          <button class="post-button">POST!</button>
      </div>
  </div>
  <div class="filter">
      <button>
          <img src="filter.png" alt="Filter">
      </button>
  </div>
</div>
