<div class="post-form-container">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="post-form">
    <div class="profile-text">
      <div class="profile-pic">
        <img [src]="profilePictureUrl || defaultProfilePictureUrl" alt="Profile Picture">
      </div>
      <textarea
        id="post-textarea"
        placeholder="Create a post..."
        #postMessage="ngModel"
        [(ngModel)]="service.formMessage.postMessage"
        name="postMessage"
        (focus)="handleInput()"
        (input)="handleInput()"
        [class.expanded]="isExpanded"
      ></textarea>
    </div>
    <div *ngIf="isExpanded" class="form-controls">
      <div class="add-photo-container">
        <div class="photo-previews">
          <div *ngFor="let photo of photoPreviews; let i = index" class="photo-preview">
            <img [src]="photo" alt="Photo Preview">
            <button type="button" (click)="deletePhoto(i)" class="delete-photo-button">x</button>
          </div>
        </div>
        <label for="add-photo" class="add-photo-label">Add Photo</label>
        <input
          type="file"
          id="add-photo"
          (change)="onFilesSelected($event)"
          multiple
          class="add-photo-input"
        >
      </div>
      <div class="location">
        <input
          type="text"
          placeholder="Location"
          #postLocation="ngModel"
          name="postLocation"
          [(ngModel)]="service.formMessage.postLocation"
          id="location"
        >
      </div>
      <div class="add-tag">
        <input
          type="text"
          placeholder="Tag (e.g. #dog, #cat)"
          #postTag="ngModel"
          name="postTag"
          [(ngModel)]="service.formMessage.postTag"
          id="tag"
        >
      </div>
    </div>
    <div *ngIf="isExpanded" class="post-button-container">
      <button type="submit" class="post-button">POST!</button>
    </div>
  </form>
</div>

<div *ngIf="posts && posts.length > 0; else noPosts">
  <div class="post-container" *ngFor="let post of posts" >
    <div class="post-header">
      <div class="post-profile-pic" (click)="navigateToUserProfile(post.userId)">
        <img [src]="profilePictureUrl || defaultProfilePictureUrl" alt="Profile Picture">
      </div>
      <div class="post-user-info">
        <span class="post-username" (click)="navigateToUserProfile(post.userId)">{{ post.username }}</span>
        <span class="post-date">{{ post.postedDate | date: 'short' }}</span>
      </div>
      <div class="post-menu">
        <button class="menu-button" (click)="togglePostMenu(post)" [disabled]="post.userId != userId">
          <img src="menu.png" alt="Menu">
        </button>
        <div *ngIf="post.showMenu" class="post-menu-dropdown">
          <button (click)="deletePost(post)">Delete</button>
          <button (click)="startEditingPost(post)">Edit</button>
          <button (click)="markAsAdopted(post)" [disabled]="post.adopted">Mark as Adopted</button>
        </div>
      </div>
    </div>

    <div class="post-content" *ngIf="!post.isEditing">
      <p class="messagepost">{{ post.postMessage }}</p>
      <p class="locationpost">Location: {{ post.postLocation }}</p>
      <p class="tagpost">Tag: {{ post.postTag }}</p>
      <div *ngIf="post.imageUrls?.length > 0" class="post-photo">
        <img *ngFor="let image of post.imageUrls" [src]="image" alt="Post Photo">
      </div>
    </div>

    <div class="post-edit" *ngIf="post.isEditing">
      <textarea [(ngModel)]="post.editMessage" class="edit-textarea"></textarea>
      <input type="text" [(ngModel)]="post.editTag" class="edit-tag" placeholder="Edit Tag">
      <div class="edit-buttons">
        <button (click)="cancelEdit(post)" class="cancel-button">Cancel</button>
        <button (click)="saveEdit(post)" class="save-button">Save</button>
      </div>
    </div>

    <div class="post-actions">
      <button (click)="likePost(post)" class="like-button"><img src="like.png">{{ post.likes }}</button>
      <button (click)="toggleComments(post)" class="comment-button">Comments</button>
      <button (click)="adoptPet(post)" *ngIf="!post.reserved && !post.adopted" class="adopt-button">Adopt</button>
      <span *ngIf="post.reserved" class="reserved-label">Reserved</span>
      <span *ngIf="post.adopted" class="adopted-label">Adopted</span>
    </div>

    <div class="post-comments" *ngIf="post.showComments">
      <div *ngFor="let comment of post.comments" class="comment">
        <span class="comment-username">{{ comment.username }}</span>: <span class="comment-text">{{ comment.text }}</span>
      </div>
      <div class="add-comment">
        <input type="text" [(ngModel)]="post.newComment" placeholder="Add a comment">
        <button (click)="addComment(post)">Comment</button>
      </div>
    </div>
  </div>
</div>

<ng-template #noPosts>
  <p>No posts to display.</p>
</ng-template>
