<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link rel="stylesheet" type="text/css" href="landing.component.css">
</head>

<body>
  <div class="landing-container">
    <div class="content-container">
      <div class="text-container">
        <h1>Where Every Pet Finds a Loving Home!</h1>
        <p>Find your furever friend with WanderPets, where every swipe connects you to your purrfect match. Begin your pet-adoption adventure today.</p>
      </div>
      <div class="image-container">
        <img src="/pets.png" alt="paw house" class="paw-image">
      </div>
    </div>
  </div>
</body>

</html>
