<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="styesheet" type="text/css" href="about.component.css">
  <title>Wanderpets</title>
</head>
<body>
  <div class=heading>
    <h1>About Us</h1>
  </div>
  <div class=container>
    <section class="about">
      <div class="about-image">
        <img src="https://github.com/Zerooaa/Appdev/blob/master/public/gilby's%20(2).png?raw=true">
      </div>
      <div class="about-content">
        <h2><b>Our Mission</b></h2>
        <p>Our mission is to help pets find loving homes and to help people find their perfect pet companions.
          We believe that every pet deserves a loving home and that every person deserves a loyal pet companion.
          We are dedicated to making the pet adoption process easy and enjoyable for everyone involved.</p>
      </div>
    </section>
    </div>
</body>
</html>
