* {
  margin: 0;
  padding: 0;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  background-color: #956935;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
nav .logo {
  height: 40px;
  width: auto;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
nav a:not(.logo-hover, .message, .title-hover):hover,
nav a:not(.logo-hover, .message, .title-hover).active {
  background-color: #f9f7dc;
  color: #cf6b21;
}
.left-items {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
}
nav .message1 {
  height: 40px;
  width: auto;
}
.center-items {
  flex-grow: 1;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin-left: 150px;
}
.right-items {
  display: flex;
  justify-content: flex-end;
}
nav a.dropdown-item {
  color: #956935;
}
.custom-dropdown-menu {
  left: 60px !important;
}
