<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navigation Bar</title>
  <link rel="stylesheet" type="text/css" href="navbar.component.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav>
    <ul class="left-items">
      <li *ngIf="!showNavbar"><a href="/landingPage" class="logo-hover" routerLinkActive="active"><img src="/Logo3.png" class="logo">WanderPets</a></li>
      <li *ngIf="showNavbar"><a href="/messagePage" class="message" routerLinkActive="active"><img src="/message.png" class="message1"></a></li>
    </ul>

    <ul class="center-items">
      <li *ngIf="showNavbar" class="title"><a class="title-hover">WanderPets</a></li>
    </ul>

    <ul class="right-items">
      <li *ngIf="!showNavbar"><a routerLink="/aboutPage" routerLinkActive="active">About</a></li>
      <li *ngIf="!showNavbar"><a routerLink="/contactPage" routerLinkActive="active">Contact</a></li>
      <li *ngIf="!showNavbar"><a routerLink="/registerPage" routerLinkActive="active">Register</a></li>
      <li *ngIf="!showNavbar"><a routerLink="/loginPage" routerLinkActive="active">Login</a></li>
      <li *ngIf="showNavbar" class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdownToggle (click)="false">Welcome {{ loggedinUser }}</a>
        <div class="dropdown-menu custom-dropdown-menu" *dropdownMenu>
          <a routerLink="/profilePage" routerLinkActive="active" class="dropdown-item"><i class="fas fa-tachometer-alt"></i>Profile</a>
          <a (click)="isChanging = !isChanging" class="dropdown-item"><i class="fas fa-user-circle"></i>Settings</a>
          <a (click)="onLogout()" href="/loginPage" class="dropdown-item"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
      </li>
    </ul>
  </nav>
</body>
</html>
