* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF7E5;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
  }
  
  .pwud-container {
    text-align: center;
    background-color: #fff8e1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 200px;
  }
  
  .pwud-container img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }
  
  .pwud-container h2 {
    color: #7B4A12;
    margin-bottom: 20px;
  }
  
  
  .pwud-container button {
    width: 100%;
    padding: 10px;
    background-color: #7B4A12;
    color: #FFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .pwud-container button:hover {
    background-color: #5A360D;
  }
  