* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 200px;
  }
  
  .password-container {
    text-align: center;
    background-color: #fff8e1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .password-container .icon img {
    width: 50px;
    height: 50px;
  }
  
  .password-container h2 {
    margin: 20px 0;
    color: #956935;
  }
  
  .password-container p {
    margin-bottom: 20px;
    color: #956935;
  }
  
  .input-container {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 5px;
    color: #956935;
    font-weight: bold; /* Bold the labels */
  }
  
  .password-field {
    position: relative;
  }
  
  .password-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #956935;
    border-radius: 5px;
    outline: none;
    padding-right: 40px; /* space for the eye icon */
  }
  
  .password-field .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  
  .password-container form button {
    width: 55%;
    padding: 10px;
    background-color: #7B4A12;
    color: #FFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .password-container form button:hover {
    background-color: #5A360D;
  }