<div class="container">
    <div class="password-container">
      <div class="icon">
        <img src="lock.png" alt="Lock Icon">
      </div>
      <h2>New Password</h2>
      <p>Your identity has been verified. Set up a new password.</p>
      <form>
        <div class="input-container">
          <label for="new-password">New Password</label>
          <div class="password-field">
            <input type="password" id="new-password" name="new-password" required>
          </div>
        </div>
        <div class="input-container">
          <label for="confirm-password">Confirm Password</label>
          <div class="password-field">
            <input type="password" id="confirm-password" name="confirm-password" required>
          </div>
        </div>
        <button type="submit">UPDATE</button>
      </form>
    </div>
</div>
