<body>
    <button class="backbutton" (click)="goBack()">
        <img src="back.png" alt="Back">
    </button>
    <div class="chat-container">
        <div class="sidebar">
            <h3>CHATS</h3>
            <div class="search-bar">
                <input type="text" placeholder="Search...">
            </div>
            <div class="chat-list">
                <div class="chat-item selected">
                    <img src="muningning.jpg" alt="Profile">
                    <div class="chat-info">
                        <p class="chat-name">muningning13</p>
                        <p class="chat-message">You: Is this available?</p>
                    </div>
                </div>
                <div class="chat-item">
                    <img src="nocatnolife.jpg" alt="Profile">
                    <div class="chat-info">
                        <p class="chat-name">nocatnolife</p>
                        <p class="chat-message1">nocatnolife: Yes po.</p>
                    </div>
                </div>
                <div class="chat-item">
                    <img src="rabrob.jpg" alt="Profile">
                    <div class="chat-info">
                        <p class="chat-name">_rabrob</p>
                        <p class="chat-message">_rabrob: No na po :(</p>
                    </div>
                </div>
                <div class="chat-item">
                    <img src="brownie.jpg" alt="Profile">
                    <div class="chat-info">
                        <p class="chat-name">brownie_123</p>
                        <p class="chat-message">brownie_123: Sir</p>
                    </div>
                </div>
                <div class="chat-item">
                    <img src="chichi.jpg" alt="Profile">
                    <div class="chat-info">
                        <p class="chat-name">_chichi_</p>
                        <p class="chat-message">You: Thank you!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-window">
            <div class="chat-header">
                <img src="muningning.jpg" alt="Profile">
                <p>muningning13</p>
            </div>
            <div class="chat-body">
                <p class="chat-message-sent">Is this available?</p>
                <p class="chat-message-time">Sent 03:42pm</p>
            </div>
            <div class="chat-footer">
                <input type="text" placeholder="Type here...">
                <button class="attach-file"><img src="attach.png"></button>
                <button class="voice-message"><img src="mic.png"></button>
                <button class="send-button"><img src="send.png"></button>
            </div>
        </div>
    </div>
</body>