<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="register-details.component.css">
</head>
<body>
  <div class="container">
    <div class="title">Register</div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="user-details">
        <div class="input-box">
          <span class="details">Username</span>
          <input type="text" formControlName="userName" placeholder="Enter Your Username">
          <span *ngIf="!userName?.valid && (userName!.touched || userSubmitted)" class="error-block">
            Username is Required
          </span>
        </div>
        <div class="input-box">
          <span class="details">Full Name</span>
          <input type="text" id="fullName" formControlName="fullName" placeholder="Enter Your Full Name">
          <span *ngIf="!fullName?.valid && (fullName!.touched || userSubmitted)" class="error-block">
            Full Name is Required
          </span>
        </div>
        <div class="input-box">
          <span class="details">Email</span>
          <input type="text" id="userEmail" formControlName="userEmail" placeholder="Enter Your Email">
          <span *ngIf="!userEmail?.valid && (userEmail!.touched || userSubmitted)" class="error-block">
              <span *ngIf="userEmail.hasError('required')">
                Email is Required
              </span>
              <span *ngIf="userEmail.hasError('email')">
                Incorrect Format of Email (abc&#64;email.com)
              </span>
          </span>
        </div>
        <div class="input-box">
          <span class="details">Phone Number</span>
          <input type="text" id="userPhone" formControlName="userPhone" placeholder="Enter Your Phone Number">
          <span *ngIf="!userPhone?.valid && (userPhone!.touched || userSubmitted)" class="error-block">
            Input 11 Characters Long and Numbers Only
          </span>
        </div>
        <div class="input-box">
          <span class="details">Password</span>
          <input type="password" id="userPassword" formControlName="userPassword" placeholder="Enter Your Password">
          <span *ngIf="!userPassword?.valid && (userPassword!.touched || userSubmitted)" class="error-block">
            <span *ngIf="userPassword.hasError('required')">
              Password is Required
            </span>
            <span *ngIf="userPassword.hasError('minlength')">
              Password must be 8 characters long
            </span>   
          </span>
        </div>
        <div class="input-box">
          <span class="details">Confirm Password</span>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm your Password">
          <span *ngIf="!confirmPassword?.valid && (confirmPassword!.touched || userSubmitted)" class="error-block">
            <span *ngIf="confirmPassword.hasError('required')">
              Password is Required
            </span>
          </span>
          <span *ngIf="registerForm.hasError('notmatched') && (confirmPassword.valid || userSubmitted)" class="error-block">
            Passwords do not Match
          </span>
        </div>
      </div>
      <div class="registerButton">
        <input type="submit" value="Register">
      </div>
    </form>
  </div>
  <div class="container2">
    <img src="/gilby's (2).png" style="width: 600px;">
  </div>
</body>
</html>
