<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="register-details.component.css">
</head>
<body>
  <div class="container">
    <div class="title">Register</div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Username</span>
          <input type="text"  #userName ="ngModel" name="userName" [(ngModel)] = "service.formData.userName" placeholder="Enter Your Username">

        </div>
        <div class="input-box">
          <span class="details">Full Name</span>
          <input type="text" id="fullName" #fullName = "ngModel"  name="fullName" [(ngModel)]= "service.formData.fullName" placeholder="Enter Your Full Name">

        </div>
        <div class="input-box">
          <span class="details">Email</span>
          <input type="text" id="userEmail"  #userEmail = "ngModel"  name="userEmail" [(ngModel)]= "service.formData.userEmail" placeholder="Enter Your Email">

        </div>
        <div class="input-box">
          <span class="details">Phone Number</span>
          <input type="text" id="userPhone"  #userPhone = "ngModel" name="userPhone" [(ngModel)]= "service.formData.userPhone" placeholder="Enter Your Phone Number">

        </div>
        <div class="input-box">
          <span class="details">Password</span>
          <input type="password" id="userPassword"  #userPassword = "ngModel" name="userPassword" [(ngModel)]= "service.formData.userPassword" placeholder="Enter Your Password">

        </div>
        <div class="input-box">
          <span class="details">Confirm Password</span>
          <input type="password" id="confirmPassword"placeholder="Confirm your Password">

        </div>
      </div>
      <div class="registerButton">
        <input type="submit" value="Register">
      </div>
    </form>
  </div>
  <div class="container2">
    <img src="/gilby's (2).png" style="width: 600px;">
  </div>
</body>
</html>
