<div class="profile-container">
  <div class="profile-header">
    <button class="edit-button" (click)="isEditing = true">
      <img src="/edit.png" alt="Edit">
    </button>
    <img [src]="profileData.profilePictureUrl" alt="Profile Picture" class="profile-picture">
    <button class="change-picture-button" (click)="triggerFileInput()">Change Picture</button>
    <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)">
    <div class="profile-info">
      <h2 class="profile-name">{{ profileData.fullName }}</h2>
      <p class="profile-username">{{ profileData.userName }}</p>
      <p class="profile-email">Email: {{ profileData.userEmail }}</p>
      <p class="profile-contact">Contact No: {{ profileData.userPhone }}</p>
    </div>
  </div>
</div>

  <div class="petlisting-container">
    <h1>PET LISTINGS</h1>
    <div *ngFor="let pet of petListings" class="pet-card">
      <img [src]="pet.imageUrl" alt="{{ pet.name }}" class="pet-image">
      <div class="pet-info">
        <h2>{{ pet.name }}</h2>
        <p>{{ pet.status }}</p>
        <button *ngIf="pet.status === 'Available'" (click)="adoptPet(pet)">Adopt</button>
        <button *ngIf="pet.status === 'Reserved'" (click)="markAsAdopted(pet)">Mark as Adopted</button>
      </div>
    </div>
  </div>

  <div *ngIf="isEditing" class="editing-container">
    <div class="editing-content">
      <form class="profile-info">
        <input type="text"  placeholder="Full Name" required class="form-control" />
        <input type="text" placeholder="Username" required class="form-control" />
        <input type="email"  placeholder="Email" required class="form-control" />
        <input type="text"  placeholder="Contact No" required class="form-control" />
        <div class="button-container">
          <button class="save-button" (click)="saveProfile()">Save</button>
          <button class="cancel-button" (click)="cancelEdit()">Cancel</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="isPicturePopupVisible" class="picture-popup-container">
    <div class="picture-popup-content">
      <h2>New Profile Picture</h2>
      <img [src]="newProfilePictureUrl" alt="New Profile Picture" class="new-profile-picture-preview">
      <div class="button-container">
        <button class="save-button" (click)="saveNewProfilePicture()">Save</button>
        <button class="cancel-button" (click)="cancelNewProfilePicture()">Cancel</button>
      </div>
    </div>
  </div>
