<!-- Profile container -->
<div class="profile-container">
  <div class="profile-header">
    <button class="edit-button" (click)="isEditing = true">
      <img src="/edit.png" alt="Edit">
    </button>
    <img [src]="profileData.profilePictureUrl || defaultProfilePictureUrl" alt="Profile Picture" class="profile-picture">
    <button class="change-picture-button" (click)="triggerFileInput()">Change Picture</button>
    <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)">
    <div class="profile-info">
      <h2 class="profile-name">{{ profileData.fullName }}</h2>
      <p class="profile-username">{{ profileData.userName }}</p>
      <p class="profile-email">Email: {{ profileData.userEmail }}</p>
      <p class="profile-contact">Contact No: {{ profileData.userPhone }}</p>
    </div>
  </div>
</div>

<!-- Editing container -->
<div *ngIf="isEditing" class="editing-container">
  <div class="editing-content">
    <form class="profile-info">
      <input type="text" placeholder="Full Name" [(ngModel)]="profileData.fullName" name="fullName" required class="form-control" />
      <input type="text" placeholder="Username" [(ngModel)]="profileData.userName" name="userName" required class="form-control" />
      <input type="email" placeholder="Email" [(ngModel)]="profileData.userEmail" name="userEmail" required class="form-control" />
      <input type="text" placeholder="Contact No" [(ngModel)]="profileData.userPhone" name="userPhone" required class="form-control" />
      <div class="button-container">
        <button type="button" class="save-button" (click)="saveProfile()">Save</button>
        <button type="button" class="cancel-button" (click)="cancelEdit()">Cancel</button>
      </div>
    </form>
  </div>
</div>

<!-- Picture popup container -->
<div *ngIf="isPicturePopupVisible" class="picture-popup-container">
  <div class="picture-popup-content">
    <h2>New Profile Picture</h2>
    <img [src]="newProfilePictureUrl" alt="New Profile Picture" class="new-profile-picture-preview">
    <div class="button-container">
      <button type="button" class="save-button" (click)="saveNewProfilePicture()">Save</button>
      <button type="button" class="cancel-button" (click)="cancelNewProfilePicture()">Cancel</button>
    </div>
  </div>
</div>

<!-- Adopted Pets container -->
<section class="Interested">
  <h2 class="title">Interested</h2>
  <div class="adopted-pets-container" *ngIf="adoptedPosts && adoptedPosts.length > 0">
    <div class="adopted-pet" *ngFor="let post of adoptedPosts">
      <img *ngIf="post.imageUrls.length > 0" [src]="post.imageUrls[0]" alt="Adopted Pet Image" class="adopted-pet-image">
      <p class="adopted-pet-tag">{{ post.postTag }}</p>
      <p class="adopted-pet-username">{{ post.username }}</p>
    </div>
  </div>
  <ng-template #noAdoptedPets>
    <p>No adopted pets to display.</p>
  </ng-template>
</section>

<!-- User Posts -->
<section class="UserPost">
  <h2 class="title">User Posts</h2>
  <div class="posts-container-wrapper">
    <div class="posts-container" *ngIf="posts && posts.length > 0; else noPosts">
      <div class="post" *ngFor="let post of posts">
        <div class="post-header">
          <img [src]="profileData.profilePictureUrl || defaultProfilePictureUrl" alt="Profile Picture" class="post-profile-pic">
          <div class="post-user-info">
            <span class="post-username">{{ profileData.userName }}</span>
            <span class="post-date">{{ post.postedDate | date: 'short' }}</span>
          </div>
        </div>
        <div class="post-content">
          <div class="post-message">{{ post.postMessage }}</div>
          <div *ngIf="post.imageUrls && post.imageUrls.length > 0" class="post-images">
            <img *ngFor="let imageUrl of post.imageUrls" [src]="imageUrl" alt="Post Image" class="post-image">
          </div>
          <div class="post-tag">{{ post.postTag }}</div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noPosts>
    <p>No posts to display.</p>
  </ng-template>
</section>