* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  margin-top: 200px;
  width: 400px;
}

.login-container {
  text-align: center;
  background-color: #fff8e1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  position: relative; /* Ensure relative positioning for absolute child */
}

.exit-button {
  position: absolute;
  top: 10px;
  right: 30px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #956935;
}

.exit-button:hover {
  color: #7B4A12;
}

.login-container .icon img {
  width: 50px;
  height: 50px;
}

.login-container h2 {
  margin: 20px 0;
  color: #956935;
}

.input-container {
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  align-items: center; /* Align items vertically */
  position: relative; /* Ensure relative positioning for absolute child */
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  color: #956935;
  font-weight: bold;
}

.input-container .icon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  flex-shrink: 0; /* Prevent icon from shrinking */
}

.input-container input {
  padding: 10px;
  border: 1px solid #956935;
  border-radius: 5px;
  outline: none;
  width: 80%;
}

input[type="email"]::placeholder {
  color: #956935;
  vertical-align: middle; /* Align placeholder text vertically */
}

.submit-button {
  width: 85%;
  padding: 10px;
  background-color: #7B4A12;
  color: #FFF;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 30px;
}

.submit-button:hover {
  background-color: #5A360D;
}

.login-container p {
  margin-top: 20px;
  color: #956935;
}

.login-container p a {
  color: #ffa726;
  text-decoration: none;
}

.error-message {
  color: red;
  position: absolute;
  margin-left: 50px;
  font-size: small;
}
