<body>
    <div class="container">
      <div class="login-container">
        <div class="icon">
          <img src="lock.png" alt="Lock Icon">
        </div>
        <h2>Change Password</h2>
        <p>Please enter the email address associated with your account. <br> We will send you a One-Time Password (OTP) to verify your identity and reset your password.</p> <br>
        <div>
          <div class="input-container">
            <img src="mail.png" class="icon">
            <input type="email" placeholder="Email" required>
          </div>        
          <a href="verificationPage"><button type="button">SEND VERIFICATION CODE</button></a>
        </div>
      </div>
    </div>
</body>
