<div class="container">
  <div class="login-container">
    <button type="button" class="exit-button" (click)="onCloseButtonClick()">x</button>
    <div class="icon">
      <img src="lock.png" alt="Lock Icon">
    </div>
    <h2>Change Password</h2>
    <p>Please enter the email address associated with your account. <br> We will send you a One-Time Password (OTP) to verify your identity and reset your password.</p> <br>
    <div>
      <div class="input-container">
        <img src="mail.png" class="icon">
        <input type="email" placeholder="Email" required [(ngModel)]="forgotpasswordEmail" (ngModelChange)="emailValidation($event)">
      </div>
      <div *ngIf="!forgotpasswordEmail && !emailValid" class="error-message">Email is Required</div>
    <div *ngIf="forgotpasswordEmail && !emailValid" class="error-message">Please enter a valid email address.</div>         
      <a href="verificationPage"><button class="submit-button" type="button">SEND VERIFICATION CODE</button></a>
    </div>
  </div>
</div>